<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "SocialPost", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<% if current_user %>
						<li><%= link_to 'Profile', user_path(current_user) %></li>
						<li><%= link_to 'Exit', destroy_user_session_path %></li>
					<% else %>
						<li><%= link_to "Sign in", new_user_session_path %></li>
					<% end %>
					
				</ul>
			</nav>
		</div>
	</div>
</header>